[Desktop Entry]
Version=1.0
Type=Application
Name=RetroArch-Phoenix
Categories=Game;Emulator
GenericName=Phoenix frontend for RetroArch
Exec=retroarch-phoenix
Icon=/usr/share/icons/retroarch-phoenix.png
StartupNotify=false
Name[en_US]=RetroArch-Phoenix
