[Desktop Entry]
Version=1.0
Type=Application
Name=SSNES-Phoenix
Categories=Game;Emulator
GenericName=Phoenix frontend for SSNES
Exec=ssnes-phoenix
Icon=/usr/share/icons/ssnes-phoenix.png
StartupNotify=false
Name[en_US]=SSNES-Phoenix
